/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.explore-bg{
    background: #F4FAFD;
}
.button-bg{
    background: #289BDE;
}